<!doctype html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
    <script>
    angular.module('app', []);

    angular.module('app')
        .controller('BodyController', function($scope, $http) {
            $scope.get = function(){
                $http.get('http://127.0.0.1:5000/login')
                .then(function (result) {
                    alert(result.data);
                });
            }
            $scope.post = function(){
                $http.post('http://127.0.0.1:5000/login', {"query":"orange"})
                .then(function (result) {
                    alert(JSON.stringify(result.data));
                });
            }
        });
    </script>
  </head>
  <body ng-controller="BodyController">
    <button ng-click="get()">get</button>
    <button ng-click="post()">post</button>
  </body>
</html>