<!doctype html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script>
    angular.module('app', []);

    angular.module('app')
        .controller('BodyController', function($scope, $http) {
            $scope.images = [];
            $scope.getImage = function(query){
                $http.post('http://127.0.0.1:5000/GetImage', {"query":query})
                .then(function (result) {
                    if (result.data === "404"){
                        alert('image not found');
                    } else{
                        $scope.addImage(result.data);
                    }
                });
            }
            $scope.addImage = function(path){
                $scope.images.push(path);
            }
            $scope.getImages = function(){
                var queries = document.getElementById('queries').value.split("\n");
                for (var i = 0; i < queries.length; i++) {
                    $scope.getImage(queries[i]);
                }
            }
        });
    angular.module('app')
        .controller('ErrorController', function($scope) {
            $scope.errors = "errors.txt";
        });
    </script>
    <style>
        #options{
            width: 400px;
        } 
        #imageList li img{
            max-width: 150px;
            max-height: 150px;
        }
        #errors{
            background-color:#A8A8A8;
            min-height: 300px;
        }
        #errors ul li{
            color: red;
        }
    </style>
  </head>
  <body>
    <div ng-controller="BodyController">
        <div id="options" class="span4">
            Min Width: <input id="minWidth" type="text"><br>
            Max Width: <input id="maxWidth" type="text"><br>
            Min Height: <input id="minHeight" type="text"><br>
            Max Height: <input id="maxHeight" type="text"><br>
            <br>
            List one query per line.<br>
            <textarea id="queries" cols="30" rows="10"></textarea><br>
            <button ng-click="getImages()">Get Images</button>
        </div>
        <div class="span4" id="imageList">
            <button>Download Images</button>
            <ul>
                <li ng-repeat="image in images"><img src="{{image}}" alt=""></li>
            </ul>
        </div> 
    </div>
    <div id='errors' class="span4" ng-controller="ErrorController">
        <h4>Errors</h4>
        <div ng-include="errors"></div>
<!--         <ul>
            <li ng-repeat="error in errors">{{error}}</li>
        </ul>
 -->    
    </div>
  </body>
</html>